# Azure Functions
azure-functions

# Azure SDKs
azure-storage-blob
azure-storage-queue
azure-ai-documentintelligence

# OpenAI SDK
openai

# Data Validation
pydantic

# Fuzzy String Matching
thefuzz
python-Levenshtein
